{%extends 'hefo.html'%}
{%load static%}
{%block content%}
<main>
    <!-- 1st section -->
    <section>
        <div class="card text-bg-light">
            <img src="{% static 'img/6.jpg'%}" class="card-img" alt="" style="width: 100%; height:60vh;">

            <div class="card-img-overlay">
                <h1 class="card-title position-absolute bottom-0 start-50 translate-middle-x text-dark">PRODUCTS</h1>

            </div>
        </div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-6">
                <br>
                <a href="" class="text-dark text-center"><b>HOME</b></a>>PRODUCTS

            </div>
        </div><br><br>
    </section>
    <!-- 2nd section -->
    <section>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="row">
                    <div class="col-4">
                        <div class="card text-bg-light text-light">
                            <img src="https://autocare.dexignlab.com/xhtml/images/ads/thum1.jpg" class="card-img"
                                alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title fs-3">WE HAVE THE EXPERTS</h5>
                                <h4><b class="fs-3">150$</b> <s>180$</s></h4><br><br><br>
                                <button class="btn btn-outline-info">ORDER NOW
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card text-bg-light text-light">
                            <img src="https://autocare.dexignlab.com/xhtml/images/ads/thum2.jpg" class="card-img"
                                alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title fs-3 ">WE HAVE THE EXPERTS</h5>
                                <h4><b class="fs-3">150$</b> <s>180$</s></h4><br><br><br>
                                <button class="btn btn-outline-info">ORDER NOW
                                    </button>
                            </div>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="card text-bg-light text-light">
                            <img src="https://autocare.dexignlab.com/xhtml/images/ads/thum3.jpg" class="card-img"
                                alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title fs-3 ">WE HAVE THE EXPERTS</h5>
                                <h4><b class="fs-3">150$</b> <s>180$</s></h4><br><br><br>
                                <button class="btn btn-outline-info">ORDER NOW
                                    </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div><br><br><br>

        <!-- section 3 -->

        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <h4><u style="color: blue;">Search</u></h4><br>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit" style="background-color: blue;">Search</button>
                </form><br>
                <u>
                    <h5 style="color: brown;">Recent post</h5>
                </u><br>
                <div class="row">
                    <div class="col-4">
                        <img src="https://autocare.dexignlab.com/xhtml/images/blog/recent-blog/pic1.jpg" alt=""
                            class="py-1">
                        <img src="https://autocare.dexignlab.com/xhtml/images/blog/recent-blog/pic2.jpg" alt=""
                            class="py-1">
                        <img src="https://autocare.dexignlab.com/xhtml/images/blog/recent-blog/pic3.jpg" alt=""
                            class="py-1">
                    </div>
                    <div class="col-8 px-4 py-3">
                        <div class="row">
                            <div class="col-12 px-4">
                                <a href="" class="card-title link-underline-light"><b>Title of First Blog Post
                                        Entry</b></a>
                                <p>By <a href="" class="card-title link-underline-light">admin / </a><i
                                        class="fa-solid fa-comments" style="color: red;"> 30</i></p><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 px-4">
                                <a href="" class="card-title link-underline-light"><b>Title of First Blog Post
                                        Entry</b></a>
                                <p>By <a href="" class="card-title link-underline-light">admin / </a><i
                                        class="fa-solid fa-comments" style="color: red;"> 30</i></p><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 px-4">
                                <a href="" class="card-title link-underline-light"><b>Title of First Blog Post
                                        Entry</b></a>
                                <p>By <a href="" class="card-title link-underline-light">admin / </a><i
                                        class="fa-solid fa-comments" style="color: red;"> 30</i></p><br><br>
                            </div>
                        </div>

                    </div>

                </div>
                <u>
                    <h5 style="color: brown;">Recent post</h5>
                </u><br>
                <a href="/index4"><button class="btn btn btn-outline-dark">Design</button></a><a href="/index4"><button class="btn btn-outline-dark">User
                    interface</button></a><a href="/index4"><button class="btn btn-outline-dark">CEO</button></a>

                <a href="/index4"><button class="btn btn btn-outline-dark">Worldpress</button></a><a href="/index4"> <button
                    class="btn btn-outline-dark">Development
                </button> </a><a href="/index4"><button class="btn btn-outline-dark">Joomla</button></a>

                <a href="/index4"><button class="btn btn btn-outline-dark">Design</button></a><a href="/index4"> <button class="btn btn-outline-dark">User
                    interface</button></a><a href="/index4"> <button class="btn btn-outline-dark">CEO</button></a>

                <a href="/index4"><button class="btn btn btn-outline-dark">Worldpress</button></a><a href="/index4"> <button
                    class="btn btn-outline-dark">Development
                </button></a><a href="/index4"> <button class="btn btn-outline-dark">Joomla</button></a>

                <a href="/index4"><button class="btn btn btn-outline-dark">Design</button> </a><a href="/index4"><button class="btn btn-outline-dark">User
                    interface</button></a><a href="/index4"> <button class="btn btn-outline-dark">CEO</button></a>

                <a href="/index4"><button class="btn btn btn-outline-dark">Worldpress</button> </a><a href="/index4"><button
                    class="btn btn-outline-dark">Development
                </button></a><a href="/index4"> <button class="btn btn-outline-dark">Joomla</button></a>
                <u><br><br><br><br>
                    <h5 style="color: brown;">OUR SERVICES</h5>
                </u><br>
                <a href="/index5" class="link-underline-light text-dark fs-6">>Engine Diagnostics</a><br><br>
                <a href="/index5" class="link-underline-light text-dark fs-6">>Lube,Oil And Filters</a><br><br>
                <a href="/index5" class="link-underline-light text-dark fs-6">>Belts And Hoses</a><br><br>
                <a href="/index5" class="link-underline-light text-dark fs-6">>Air Conditioning</a><br><br>
                <a href="/index5" class="link-underline-light text-dark fs-6">>Brake Repair</a><br><br>
                <a href="/index5" class="link-underline-light text-dark fs-6">>Auto Careion Auto Careion</a><br><br>
                <a href="/index5" class="link-underline-light text-dark fs-6">>Engine Diagnostics</a><br><br>
                <a href="/index5" class="link-underline-light text-dark fs-6">>Air Conditioning</a><br><br>
                <a href="/index5" class="link-underline-light text-dark fs-6">>Lube,Oil And Filters</a><br><br>
                <a href="/index5" class="link-underline-light text-dark fs-6">>Engine Diagnostics</a><br><br>
                <a href="/index5" class="link-underline-light text-dark fs-6">>Engine Diagnostics</a><br><br>
                <a href="/index5" class="link-underline-light text-dark fs-6">>Lube,Oil And Filters</a><br><br>




            </div>

            <div class="col-7">
                <div class="row text-center">
                    <div class="col-4 p-2">
                        <div class="card" style="width: 18rem;">
                            <img src="https://autocare.dexignlab.com/xhtml/images/product/item1.jpg"
                                class="card-img-top hvr-pulse" alt="...">

                            <div class="card-body">
                                <a href="" class="card-title link-underline-light">
                                    <h5 class="card-title">Measuring Squares</h5>
                                </a>
                                <p class="fs-4"><s>30.00</s> <b class="fs-3">$20.00</b></p>

                                <a href="/index5" class="btn text-light" style="background-color: red;">ORDER NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-2">
                        <div class="card" style="width: 18rem;">
                            <img src="https://autocare.dexignlab.com/xhtml/images/product/item2.jpg"
                                class="card-img-top hvr-pulse" alt="...">

                            <div class="card-body">
                                <a href="" class="card-title link-underline-light">
                                    <h5 class="card-title">Measuring Squares</h5>
                                </a>
                                <p class="fs-4"><s>30.00</s> <b class="fs-3">$25.00</b></p>

                                <a href="/index5" class="btn text-light" style="background-color: red;">ORDER NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-2">
                        <div class="card" style="width: 18rem;">
                            <img src="https://autocare.dexignlab.com/xhtml/images/product/item3.jpg"
                                class="card-img-top hvr-pulse" alt="...">

                            <div class="card-body">
                                <a href="" class="card-title link-underline-light">
                                    <h5 class="card-title">Measuring Squares</h5>
                                </a>
                                <p class="fs-4"><s>30.00</s> <b class="fs-3">$25.00</b></p>

                                <a href="/index5" class="btn text-light" style="background-color: red;">ORDER NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-4 p-2">
                        <div class="card" style="width: 18rem;">
                            <img src="https://autocare.dexignlab.com/xhtml/images/product/item5.jpg"
                                class="card-img-top hvr-pulse" alt="...">

                            <div class="card-body">
                                <a href="" class="card-title link-underline-light">
                                    <h5 class="card-title">Measuring Squares</h5>
                                </a>
                                <p class="fs-4"><s>30.00</s> <b class="fs-3">$25.00</b></p>

                                <a href="/index5" class="btn text-light" style="background-color: red;">ORDER NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-2">
                        <div class="card" style="width: 18rem;">
                            <img src="https://autocare.dexignlab.com/xhtml/images/product/item4.jpg"
                                class="card-img-top hvr-pulse" alt="...">

                            <div class="card-body">
                                <a href="" class="card-title link-underline-light">
                                    <h5 class="card-title">Measuring Squares</h5>
                                </a>
                                <p class="fs-4"><s>30.00</s> <b class="fs-3">$25.00</b></p>

                                <a href="/index5" class="btn text-light" style="background-color: red;">ORDER NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-2">
                        <div class="card" style="width: 18rem;">
                            <img src="https://autocare.dexignlab.com/xhtml/images/product/item6.jpg"
                                class="card-img-top hvr-pulse" alt="...">

                            <div class="card-body">
                                <a href="" class="card-title link-underline-light">
                                    <h5 class="card-title">Measuring Squares</h5>
                                </a>
                                <p class="fs-4"><s>30.00</s> <b class="fs-3">$25.00</b></p>

                                <a href="/index5" class="btn text-light" style="background-color: red;">ORDER NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-4 p-2">
                        <div class="card" style="width: 18rem;">
                            <img src="https://autocare.dexignlab.com/xhtml/images/product/item9.jpg"
                                class="card-img-top hvr-pulse" alt="...">

                            <div class="card-body">
                                <a href="" class="card-title link-underline-light">
                                    <h5 class="card-title">Measuring Squares</h5>
                                </a>
                                <p class="fs-4"><s>30.00</s> <b class="fs-3">$25.00</b></p>

                                <a href="/index5" class="btn text-light" style="background-color: red;">ORDER NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-2">
                        <div class="card" style="width: 18rem;">
                            <img src="https://autocare.dexignlab.com/xhtml/images/product/item7.jpg"
                                class="card-img-top hvr-pulse" alt="...">

                            <div class="card-body">
                                <a href="" class="card-title link-underline-light">
                                    <h5 class="card-title">Measuring Squares</h5>
                                </a>
                                <p class="fs-4"><s>30.00</s> <b class="fs-3">$25.00</b></p>

                                <a href="/index5" class="btn text-light" style="background-color: red;">ORDER NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-2">
                        <div class="card" style="width: 18rem;">
                            <img src="https://autocare.dexignlab.com/xhtml/images/product/item8.jpg"
                                class="card-img-top hvr-pulse" alt="...">

                            <div class="card-body">
                                <a href="" class="card-title link-underline-light">
                                    <h5 class="card-title">Measuring Squares</h5>
                                </a>
                                <p class="fs-4"><s>30.00</s> <b class="fs-3">$25.00</b></p>

                                <a href="/index5" class="btn text-light" style="background-color: red;">ORDER NOW</a>
                            </div>
                        </div>
                    </div>
                </div><br><br>
                <h2 class="text-center" style="color: blue;">Best Sellers</h2>
                <h5 class="text-center texti-info"><i class="fa-solid fa-pallet" style="color: #FFD43B;"></i><i
                        class="fa-solid fa-pallet" style="color: #FFD43B;"></i><i class="fa-solid fa-pallet"
                        style="color: #FFD43B;"></i><i class="fa-solid fa-pallet" style="color: #FFD43B;"></i><i
                        class="fa-solid fa-pallet" style="color: #FFD43B;"></i><i class="fa-solid fa-circle fa-xl"
                        style="color: #fd0808;"></i><i class="fa-solid fa-pallet" style="color: #FFD43B;"></i><i
                        class="fa-solid fa-pallet" style="color: #FFD43B;"></i><i class="fa-solid fa-pallet"
                        style="color: #FFD43B;"></i><i class="fa-solid fa-pallet" style="color: #FFD43B;"></i><i
                        class="fa-solid fa-pallet" style="color: #FFD43B;"></i></h5>


                <div class="row text-center">
                    <div class="col-4 p-2">
                        <div class="card" style="width: 18rem;">
                            <img src="https://autocare.dexignlab.com/xhtml/images/product/item10.jpg"
                                class="card-img-top hvr-pulse" alt="...">

                            <div class="card-body">
                                <a href="" class="card-title link-underline-light">
                                    <h5 class="card-title">Measuring Squares</h5>
                                </a>
                                <p class="fs-4"><s>30.00</s> <b class="fs-3">$25.00</b></p>

                                <a href="/index5" class="btn text-light" style="background-color: red;">ORDER NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-2">
                        <div class="card" style="width: 18rem;">
                            <img src="https://autocare.dexignlab.com/xhtml/images/product/item11.jpg"
                                class="card-img-top hvr-pulse" alt="...">

                            <div class="card-body">
                                <a href="" class="card-title link-underline-light">
                                    <h5 class="card-title">Measuring Squares</h5>
                                </a>
                                <p class="fs-4"><s>30.00</s> <b class="fs-3">$25.00</b></p>

                                <a href="/index5" class="btn text-light" style="background-color: red;">ORDER NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-2">
                        <div class="card" style="width: 18rem;">
                            <img src="https://autocare.dexignlab.com/xhtml/images/product/item12.jpg"
                                class="card-img-top hvr-pulse" alt="...">

                            <div class="card-body">
                                <a href="" class="card-title link-underline-light">
                                    <h5 class="card-title">Measuring Squares</h5>
                                </a>
                                <p class="fs-4"><s>30.00</s> <b class="fs-3">$25.00</b></p>

                                <a href="/index5" class="btn text-light" style="background-color: red;">ORDER NOW</a>
                            </div>
                        </div>
                    </div>
                </div><br><br>
            </div>
            <div class="col-1"></div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="card text-bg-primary mb-3">
                        <div class="card-body m-3">
                            <h5 class="card-title px-3"><i class="fa-solid fa-truck-pickup fa-2xl"
                                    style="color:red;"></i><b class="fs-3 px-3">FREE HIPPING</b></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quidem!</p>
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="card text-bg-primary mb-3">

                        <div class="card-body m-3">
                            <h5 class="card-title px-2"><i class="fa-solid fa-bag-shopping fa-2xl" style="color: red;"></i><b class="fs-3 px-2">WAREHOUSE PRICES</b></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="card text-bg-primary mb-3">

                        <div class="card-body m-3">
                            <h5 class="card-title px-2"><i class="fa-solid fa-gear fa-2xl" style="color: red;"></i><b class="fs-3 px-2">SECURE SHOPPING</b></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div> <br><br><br>
    </section>
</main>



{%endblock%}