{%extends 'hefo.html'%}
{%load static%}
{%block content%}
<main>
  <!-- 1st section -->
  <section>
    <div class="row">
      <div class="card text-bg-light">
        <img src="{% static 'img/6.jpg'%}" class="card-img" alt="" style="width: 100%; height:60vh;">
  
        <div class="card-img-overlay">
          <h1 class="card-title position-absolute bottom-0 start-50 translate-middle-x text-dark">BLOGS</h1>
  
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-1 col-md-1 col-sm-1 col-lg-1 col-xs-1">
        </div>
        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-xs-6">
          <br>
          <a href="/index2" class="text-dark text-center"><b>HOME</b></a>>BLOG

        </div>
      </div><br><br>
    </div>
    <!-- 2nd section -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-1 col-md-1 col-sm-1 col-lg-1 col-xs-1"></div>
        <div class="col-xl-5 col-md-5 col-sm-5 col-lg-5 col-xs-5 ms-5">
          <a href="/index5"><img src="https://autocare.dexignlab.com/xhtml/images/blog/grid/pic1.jpg"
              class="hvr-shrink ms-2" alt="" style="height: 50vh;"></a>
          <div class="container">
            <a href="" class="link-underline-light text-dark text-start">
              <h5>How Autocare Can Help You Improve.</h5>
            </a>
            <div class="text-start"><i class="fa-solid fa-user" style="color: red;"></i> By <a
                href="http://127.0.0.1:8000/admin/login/?next=/admin/"
                class="link-underline-light text-dark text-start">Demongo</a>/<i class="fa-solid fa-comments"
                style="color: red;"></i>0 <a href="" class="link-underline-light text-dark text-start">Cmments</a>

              <p class="fs-6 me-5">There are many variations of passages of Lorem Ipsum typesetting industry. Lorem
                Ipsum
                has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
              <a href="/index5" class="link-underline-light text-danger text-start fs-5">Book Appointment now...
              </a>
            </div>
          </div>

        </div>
        <div class="col-xl-5 col-md-5 col-sm-5 col-lg-5 col-xs-5 ms-5">
          <a href="/index5"><img src="https://autocare.dexignlab.com/xhtml/images/blog/grid/pic2.jpg"
              class="hvr-shrink ms-2" alt="" style="height: 50vh;"></a>
          <div class="container">
            <a href="" class="link-underline-light text-dark text-start">
              <h5>How Autocare Can Help You Improve.</h5>

            </a>
            <div class="text-start"><i class="fa-solid fa-user" style="color: red;"></i> By <a
                href="http://127.0.0.1:8000/admin/login/?next=/admin/"
                class="link-underline-light text-dark text-start">Demongo</a>/<i class="fa-solid fa-comments"
                style="color: red;"></i>0 <a href="" class="link-underline-light text-dark text-start">Cmments</a></div>
            <p class="fs-6 me-5">There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum
              has
              been
              the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
            <a href="/index5" class="link-underline-light text-danger text-start fs-5">Book Appointment now...</a>
          </div>
        </div>
        <div class="col-1"></div>

      </div><br>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-xl-5 col-md-5 col-sm-5 col-lg-5 col-xs-5 ms-5 ms-5">
          <a href="/index5"><img src="https://autocare.dexignlab.com/xhtml/images/blog/grid/pic3.jpg"
              class="hvr-shrin ms-2" alt="" style="height: 50vh;"></a>
          <div class="container">

            <a href="" class="link-underline-light text-dark text-start">
              <h5>How Autocare Can Help You Improve.</h5>
            </a>
            <div class="text-start"><i class="fa-solid fa-user" style="color: red;"></i> By <a
                href="http://127.0.0.1:8000/admin/login/?next=/admin/"
                class="link-underline-light text-dark text-start">Demongo</a>/<i class="fa-solid fa-comments"
                style="color: red;"></i>0 <a href="" class="link-underline-light text-dark text-start">Cmments</a></div>
            <p class="fs-6 me-5">There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum
              has
              been
              the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
            <a href="/index5" class="link-underline-light text-danger text-start fs-5">Book Appointment now...</a>

          </div>

        </div>
        <div class="col-xl-5 col-md-5 col-sm-5 col-lg-5 col-xs-5 ms-5">
          <a href="/index5"><img src="https://autocare.dexignlab.com/xhtml/images/blog/grid/pic4.jpg"
              class="hvr-shrink ms-2" alt="" style="height: 50vh;"></a>
          <div class="container">

            <a href="" class="link-underline-light text-dark text-start">
              <h5>How Autocare Can Help You Improve.</h5>
            </a>
            <div class="text-start"><i class="fa-solid fa-user" style="color: red;"></i> By <a
                href="http://127.0.0.1:8000/admin/login/?next=/admin/"
                class="link-underline-light text-dark text-start">Demongo</a>/<i class="fa-solid fa-comments"
                style="color: red;"></i>0 <a href="" class="link-underline-light text-dark text-start">Cmments</a></div>
            <p class="fs-6 me-5">There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum
              has
              been
              the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
            <a href="/index5" class="link-underline-light text-danger text-start fs-5">Book Appointment now...</a>
          </div>
        </div>
        <div class="col-1"></div>
      </div><br>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-xl-5 col-md-5 col-sm-5 col-lg-5 col-xs-5 ms-5 ms-5">
          <a href="/index5"><img src="https://autocare.dexignlab.com/xhtml/images/blog/grid/pic1.jpg"
              class="hvr-shrink ms-2" alt="" style="height: 50vh;"></a>
          <div class="container">

            <a href="" class="link-underline-light text-dark text-start">
              <h5>How Autocare Can Help You Improve.</h5>
            </a>
            <div class="text-start"><i class="fa-solid fa-user" style="color: red;"></i> By <a
                href="http://127.0.0.1:8000/admin/login/?next=/admin/"
                class="link-underline-light text-dark text-start">Demongo</a>/<i class="fa-solid fa-comments"
                style="color: red;"></i>0 <a href="" class="link-underline-light text-dark text-start">Cmments</a></div>
            <p class="fs-6 me-5">There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum
              has been
              the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
            <a href="/index5" class="link-underline-light text-danger text-start fs-5">Book Appointment now...</a>

          </div>

        </div>
        <div class="col-xl-5 col-md-5 col-sm-5 col-lg-5 col-xs-5 ms-5">
          <a href="/index5"><img src="https://autocare.dexignlab.com/xhtml/images/blog/grid/pic1.jpg"
              class="hvr-shrink ms-2" alt="" style="height: 50vh;"></a>
          <div class="container">
            <a href="" class="link-underline-light text-dark text-start">
              <h5>How Autocare Can Help You Improve.</h5>
            </a>
            <div class="text-start"><i class="fa-solid fa-user" style="color: red;"></i> By <a
                href="http://127.0.0.1:8000/admin/login/?next=/admin/"
                class="link-underline-light text-dark text-start">Demongo</a>/<i class="fa-solid fa-comments"
                style="color: red;"></i>0 <a href="" class="link-underline-light text-dark text-start">Cmments</a></div>
            <p class="fs-6 me-5">There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum
              has been
              the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
            <a href="/index5" class="link-underline-light text-danger text-start fs-5">Book Appointment now...</a>
          </div>
        </div>
        <div class="col-1"></div>
      </div><br><br>
    </div>
  </section>
</main>
{%endblock%}